@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #EEF2F7;
    font-size: 1rem;
    margin: 0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
    flex-direction: column;
}

section {
    margin: 0 1em 1em 0;
    background-color: rgb(255, 255, 255);
    border-radius: 2em;
    box-shadow:
    0 2.8px 2.2px rgba(255, 192, 203, 0.034),
    0 6.7px 5.3px rgba(255, 192, 203, 0.048),
    0 12.5px 10px rgba(255, 192, 203, 0.06),
    0 22.3px 17.9px rgba(255, 192, 203, 0.072),
    0 41.8px 33.4px rgba(255, 192, 203, 0.086),
    0 100px 80px rgba(255, 192, 203, 0.12);
    height: fit-content;
    width: 500px;
}

button {
    font-weight: 600;
    border: solid 2px black;
    outline: 0;
    padding: 1rem 2rem;
    font-size: 1rem;
    letter-spacing: 0.08rem;
    background-color: white;
    border-radius: 0.35rem;
    position: relative;
    cursor: pointer;
    margin: 5px;
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: pink;
    z-index: -1;
    border-radius: 0.35rem;
    border: solid 2px black;
    transition: all 0.3s ease-in-out;
}

button::after {
    border: 0;
    box-shadow: 0px 0px 0px 2px black;
    top: 0.3rem;
    left: 0.3rem;
}

button:hover{
    background-color: pink;
}

button:hover::after {
    background-color: black;
}

h2,p{
    margin: 5px 0px;
}

/* h1,h2,h3
p{
    margin: 0;
} */
/* Es bueno iniciar colocando TODO el contenido de texto con margin 0 y ya despues abajo se coloca
el margin que uno necesite */
/* Es bueno colocar las etiquetas en orden por  */

.row {
    display: flex;
    flex-direction: row;
}

.content{
    margin: 0 auto;
    max-width: 95%; 
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 2em;
}

.image{
    height: 40px;
    width: 40px;
    margin: 0 5px;
}

.main-image{

    height: 60px;
    width: 60px;
    margin: 0 5px;
}

.title{
    font-size: 30px;
}

.main-title{
    font-size: 50px;
    margin: 0px;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
  margin-left: 8px;
}

.form__field {
    font-family: inherit;
    width: 80%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #ff0080, rgb(255, 161, 176));
    border-image-slice: 1;
}

.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(255, 161, 176);
    font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.z-index-1{
    position: relative;
    z-index: 1;
}
